#web{
    width: 2000px;
    height: 2259px;
    top: -5106px;
    left: -1944px;
    gap: 0px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    border: 4px solid #000000;
    align-items: center;
}
body{
    align-items: center;
}
#head{
    background-color: rgb(194, 201, 207, 0.838);
    flex-direction: row;
}
#home{
   padding-top: 1%;
   padding-left: 750px;
}
#color{
    color: rgb(8, 8, 208);
}
#top{
    border: solid;
    padding-left: 10px;
    border-width: 2px;
    border-color: rgba(246, 251, 255, 0.818);
    background-color: rgba(194, 201, 207, 0.838);
}
#info{
    position:absolute;
    width: 22px;
    height: 22px;
    top: 270px;
    left: 430px;
    gap: 0px;
    opacity: 0px;
    
}
#midden{
    background-color: black;
}
#box1{
    width: 480px;
    height: 580px;
    top: 397px;
    left: 214px;
    gap: 0px;
    border-radius:15px;
    opacity: 0px;
    box-shadow: 0px -4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;

}
#box2{
    position:absolute;
    width: 480px;
    height: 580px;
    top: 245px;
    left: 650px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    box-shadow: 0px -4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
}
#info1{
    position:absolute;
    width: 22px;
    height: 22px;
    top: 30px;
    left: 430px;
    gap: 0px;
    opacity: 0px;
}
#thread{
    width: 478px;
    height: 40px;
    top: 534px;
    left: 799px;
    gap: 0px;
    border: 0.1px 0px 0px 0px;
    opacity: 0px;    
    background: #FEFFC033;
    border: 0.1px solid #00000066;
}
#thread2{
    position: absolute;
    width: 199px;
    height: 94.01px;
    top: 190px;
    left: 260px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;    
}
#thread1{
    position: absolute;
    width: 199px;
    height: 95px;
    top: 190px;
    left: 10px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;

}
#text{
    position: absolute;
    width: 195px;
    height: 69.27px;
    top: 50px;
    left:0px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background: #FAFAFA;

}
#sub{
    width: 199px;
    height: 64.32px;
    top: 604px;
    left: 999px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    border: 0.1px 0px 0px 0px;
    opacity: 0.5px;
    background: #0000000D;
    border: 0.1px solid #333333;
    box-shadow: 1px 3px 8px 0px #00000040;
}
#group{
    position: absolute;
    width: 117.49px;
    height: 20px;
    top: 150px;
    right:250px;
    gap: 0px;
    opacity: 0px;
}
#group1{
    position: absolute;
    width: 91px;
    height: 32px;
    top: 150px;
    left: px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
}
#group2{
    position: absolute;
    width: 91px;
    height: 32px;
    top: 150px;
    left: 100px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
}
#sub1{
    position: absolute;
    width: 425px;
    height: 65px;
    top: 200px;
    right: 0px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    border: 0.1px 0px 0px 0px;
    opacity: 0.5px;
    background: #0000000D;
    border: 0.1px solid #333333;
    box-shadow: 1px 3px 8px 0px #00000040;
    padding: 10px;
}
#text1{
    position: absolute;
    width: 440px;
    height: 83px;
    top: 255px;
    right:1px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background: #FAFAFA;

}
#top3{
    position: absolute;
    width: 480px;
    height: 50px;
    bottom:510px;
    gap: 0px;
    border-radius: 15px 15px 0px 0px;
    opacity: 0px;
    background-color: black;
}
#info2{
    position: absolute;
    width: 22px;
    height: 22px;
    top:2px;
    left: 400px;
    gap: 0px;
    opacity: 0px;

}
#description{
    position: absolute;
    top:px;
    left: 240px;
}
#box3{
    position: absolute;
    width: 480px;
    height: 580px;
    top: 860px;
    left: 20px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    box-shadow: 0px 0px 4px 2px #00000040;
    background: #FDFDFD;
}
#box4{
    position: absolute;
    width: 480px;
    height: 580px;
    top: 860px;
    left: 650px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    background: #FDFDFD;
    box-shadow: 1px 1px 4px 2px #00000040;
}
#top4{
    position: absolute;
    width: 480px;
    height: 50px;
    bottom:510px;
    gap: 0px;
    border-radius: 15px 15px 0px 0px;
    opacity: 0px;
    background-color: black;
}
#info3{
    position: absolute;
    width: 22px;
    height: 22px;
    top:2px;
    left: 400px;
    gap: 0px;
    opacity: 0px;
}
#thread3{
    position: absolute;
    width: 478px;
    height: 40px;
    top: 950px;
    left: 650px;
    gap: 0px;
    border: 0.1px 0px 0px 0px;
    opacity: 0px;    
    background: #F2F2F2;
    border: 0.1px solid #00000066;
}
#thread4{
    position: absolute;
    width: 478px;
    height: 40px;
    top: 1120px;
    left: 650px;
    gap: 0px;
    border: 0.1px 0px 0px 0px;
    opacity: 0px;    
    background: #F2F2F2;
    border: 0.1px solid #00000066;
}
.collapsible {
    position: absolute;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 2px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    top: 40px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    position: absolute;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    top: 100px;
  }
