#head{
    background-color: rgb(194, 201, 207, 0.838);
    flex-direction: row;
}
#home{
   padding-top: 1%;
   padding-left: 750px;
}
#color{
    color: rgb(8, 8, 208);
}
#top{
    border: solid;
    padding-left: 10px;
    border-width: 2px;
    border-color: rgba(246, 251, 255, 0.818);
    background-color: rgba(194, 201, 207, 0.838);
}
#midden{
    background-color: black;
}
#info{
    position:absolute;
    width: 22px;
    height: 22px;
    top: 270px;
    left: 430px;
    gap: 0px;
    opacity: 0px;
    
}
#mid{
    width: 480px;
    height: 580px;
    top: 397px;
    left: 214px;
    gap: 0px;
    border-radius: 80px 0px 0px 0px;
    opacity: 0px;
}
#middle{
    width: 480px;
    height: 580px;
    top: 397px;
    left: 300px;
    gap: 0px;
    border-radius: 80px 0px 0px 0px;
    opacity: 0px;
}
#info1{
    position:absolute;
    width: 22px;
    height: 22px;
    top: 700px;
    left: 430px;
    gap: 0px;
    opacity: 0px;
}
#thread{
    width: 478px;
    height: 40px;
    top: 534px;
    left: 747px;
    gap: 0px;
    border: 0.1px 0px 0px 0px;
    opacity: 0px;
    background-color: #00000066;
}